<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Projects</h1>

    <!-- .container-portfolio -->
    <div class="col-md-12">
        <div class="row">

            <!-- Page Blog -->
            <div class="col-md-12" id="blog_page">
                <!-- start Page Blog -->
                <section id="blog-page">

                    <!-- Post 1 -->
                    <article id="post-1" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">
                                    <div class="media">
                                        <div class="he-wrap tpl2">
                                            <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content_blog">
                                                <div><a span style="color: #3B5998"
                                                        href="https://github.com/ancabilloni/SDC-System-Integration">Programming
                                                    a Real Life Self Driving Car</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 1 -->

                    <div class="clear"></div>

                    <!-- Post 2 -->
                    <article id="post-2" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content_blog">
                                                <div><a span style="color: #3B5998"
                                                        href="https://github.com/rohts-patil/CarND-Semantic-Segmentation">Semantic
                                                    Segmentation </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 2 -->

                    <div class="clear"></div>

                    <!-- Post 3 -->
                    <article id="post-3" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content_blog">
                                                <div><a span style="color: #3B5998"
                                                        href="https://github.com/rohts-patil/Behavioral-Cloning">Mimicking
                                                    the human behaviour for driving a car</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>

                    <!-- End Post 3 -->

                    <!-- Post 4 -->
                    <article id="post-4" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content_blog">
                                                <div><a span style="color: #3B5998"
                                                        href="https://github.com/rohts-patil/CarND-Path-Planning-Project">Path
                                                    Planning</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 4 -->

                    <!-- Post 5 -->
                    <article id="post-5" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content_blog">
                                                <div><a span style="color: #3B5998"
                                                        href="https://github.com/rohts-patil/CarND-Advanced-Lane-Lines">Advanced Lane Detection</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 5 -->
                    <!-- Post 6 -->
                    <article id="post-6" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content_blog">
                                                <div><a span style="color: #3B5998"
                                                        href="">Design of 32 bit pipelined RISC processor using Verilog</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 6 -->

                </section>

                <!-- End Page Blog -->
            </div>
        </div>
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->